.wrapper{
  
    margin:200px 10% 100px 10%;
    
    
}

.info_contetnt_title{
    text-align: center;
}

.color_wrapper{
background-color: rgba(215, 233, 254, 0.678);
}

.left{
width:300px; 
float:left;
margin-right:10%;
}


.rigth{
    width:300px; 
    float:right;
    margin-left:10%;
}

.info_content_text{
    padding-bottom: 5%;
    
}
.p1{
    
}


@media (max-width: 459px) {
    .left{
        float:0;
        width: 100%;
    }
    .right img{
        visibility: hidden;
    }

} 
