@import '../../style/variables.scss';

.wrapper{
    margin:50px 10%;
    background-color: rgba(255, 255, 255, 0.678);
    overflow: hidden;
}

.info_contetnt_title{
    text-align: center;
    color: $orange;
}

.color_wrapper{


}

.left{
width:300px; 
float:left;
margin-right:10%;
display: table-cell;
}


.rigth{
    width:300px; 
    float:right;
    margin-left:10%;
    display: table-cell;
}



.info_content_text{
    padding: 10px 5%;
    
}
.p1{
    
}


@media (max-width: 459px) {
    .left{
        float:0;
        width: 100%;
    }
    .right img{
        visibility: hidden;
        height: 0;
    }
    .wrapper{
        margin: 15px 15px;
        box-shadow: 0 0 5px $box_shadow;
    border-radius: 10px;
    }
    .info_content_text{
        padding: 10px 15px;
    }
    .info_element{
        padding:10px;
    }
} 
