@import "../../style/variables.scss";

.block_separator_blue{
    position:relative;
    width: 60%;
    height:70px;
    margin: -40px 20% auto auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: $separator-color;
}

