@import "../../style/variables.scss";

.block_separator{
    &_blue{
    position:relative;
    max-width: 902px;
    height:120px;
    margin: -60px auto;
    border: 1px solid #FFF;
    border-radius: 10px;
    background-color: $separator-color;
    }
   
}

img{
    max-width:40%;
}

.block_separator_icons{
   display: grid;
   grid-template-columns: repeat(auto-fill, 200px); 
   grid-template-rows:  120px; 
   padding:0 150px 0 150px;
   
}
.icons_descr{
    color:$font;
   
}

.t{
    text-align: center;
}

@media (max-width: 910px) {
    .block_separator_blue{
        visibility: hidden;
    }
}