
@import  '../../style/variables';



.radioButton{
    margin-right: 5%;
}

.book_block{
        display: flex;
        justify-content: center;
        background: url('../../resources/img/booking_img_bg.jpg') rgb(255, 255, 255);
        background-size:cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        margin-bottom: 100px;
        height: 110vh;
        align-items: center;
        margin: 0;
        

        &_textcontent{
            padding-right: 10%;
            
        }
    }

.form-control{
    font-size: 100px;
}
    h4{ 
        color: $font;
    }
    .textcontent_text{
        color:$font;
        font-size: 1.7vw;
    }

    .textcontent_title{
        font-size: 2vw;
    }

    label{
        color:$font;
        font-size: 1.5vw;
    }


    button.book_block_btn{
        background: $orange;
        width: 70%;
        margin: 10% 30px;
        border-radius: 10px;
        color:white;
    }


    
    @media (max-width: 459px) {

       
        .book_block{
            flex-direction: row;
            align-items:center;
            justify-content: center;
            flex-wrap: wrap;
            height: 600px;  
            background: rgb(128, 195, 222);
            box-shadow: 0 0 10px $box_shadow;
            border-radius: 5px;
            overflow: hidden;
            &_form{  
                
                width: 100%;
                &label{
                    text-align: center;
                    padding-bottom: 10%;
                    
                }
            }    
            &_textcontent{
                padding: 0%;
                color:black;

                
            }
        }
        .textcontent_title{
            font-size: 1.4em;
        }

        h4{text-align: center; padding-bottom: 10px;
        color:black;}

        .textcontent_text, label{
            color:black;
            font-size: large;
        }
    
   .book_block_btn{
            margin:10px auto;
            justify-self:center;
            width:60%;
        } 
    
        button{
            background: rgb(95, 121, 237);
            
        }

        .textcontent{
            padding:0;
            margin:0;
            height: 0;
            
            &_text{
                display:none;
                color: black;
            }
        }
        label{
            text-align: center;
            width:100%;
            padding: 0 10%;
        }
    
    }
