@import "../../style/variables.scss";

.NavigationBlock{
   
    padding-top: 6px;
    padding-right: 3%;
    height: 47px;
    text-align: right;
    background:   url('../../resources/img/les_paradise.jpg') $img-filter;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    & li{
        display: inline-block;
        font-size: 20px;
        color:aliceblue;
        margin: 0 0 0 24px;
        /* &:after{
            content: "\00a0 | \00a0";
        } */
        & :hover, :active{
            transition-duration: .3s;
            font-size:20.5px;
            color: rgb(153, 230, 239);
            text-decoration: underline;
        }
    }
        
}


