$main-color: rgb(105,140,200);
$separator-color: rgb(105,140,200);
$img-filter: rgba(53, 98, 169, 0.7);
$dark: #232222;
$grey: #5C5C5C;
$font: rgb(249, 252, 255);
$purple_invis: rgb(176, 194, 223, 0.9);
$purple: rgb(176, 194, 223);
