@import "../../style/variables.scss";

.footer_block{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    align-items: flex-start;
    height: fit-content;
    background-color:  #83D4F3;
    color: $font;
    font-size: 1.3em;
    padding:2%;
    margin:0;
    
}


.arrow_up{
cursor: pointer;
    &:after{
    content: '        \25BC';
    }
padding-bottom: 5%;
}
.arrow_down{
    cursor: pointer;
    &:after{
    content: '          \25B2';
    }
}

.icon_viber{
    padding-right: 5%;
    cursor: pointer;
}

.phoneNumber{
    display:flex;
    padding-top:5%;
}

.icons{
    display: flex;
    flex-direction: column;
}

.place{
cursor: pointer;
}

.hide{
    visibility: hidden;
    height:0;
}

@media (max-width: 580px) {
    .footer_block_map{
        order:1;
    }
    
    iframe{
       width: 100%;
    }
}