@import "../../style/variables.scss";

.footer_block{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    align-items: center;
    height: fit-content;
    background-color:  rgb(3, 20, 48);
    color: $font;
    padding:0;
    margin:0;
    
}

@media (max-width: 580px) {
    .footer_block_map{
        order:1;
    }
    
    iframe{
        width:80%;
        height: fit-content;
        margin:5% 10% 0 10%;
    }
}