@import '../../style/variables.scss';


.block_wr{
    background: #83D4F3;   
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.bl{
    position: relative;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    visibility: hidden;
}

.hidden{
    visibility:hidden;
}

.changeroom_left{
    margin: 18% 0;
    position: absolute;
    width: 50px;
    height: 80px;
}

.changeroom_right {
    position: absolute;
    margin: 18% 0 0 95%;
    width: 50px;
    height: 80px;
}


.changeroom_left path,
.changeroom_right path {
    fill: #BFE2FF;
    stroke-width: .6;
    stroke: #7ac3df;    
    transition: fill 0.5s ease-out;
    cursor: pointer;
}
.changeroom_left {
    transform: rotate(180deg);
}

.changeroom_left path:hover,
.changeroom_right path:hover {
    fill: #659db3;
}



 .block_rooms{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    background-color: #fff;
    margin: 0 5%;

    &_img{max-width: 50%;}
    & img{
        min-width: 100%;  
        margin: 0;
    }
    &_text_content{
        font-size: 22px;
        width: 50%;
        padding-left: 3%;
    }
} 


.block_wr_prices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height: 50%;
    background-color: #D6F1FC;
    padding-top:1%;
    max-width: 100%;
    text-align: center;
    align-items: start;
    
}



.wr_prices_text{
    font: 1.7em sans-serif;
}

span{
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.carousel_button{
    height: 10%;
    color: $font;
    width: 30%;
    box-shadow:none;
    background: $orange;
    font-weight: 0;

}


%titles{
    text-align: center;
    font-size: 30px;
}

.carousel_title{
    @extend %titles;
    padding: 1% 0;
}

.title_content{
    @extend %titles;
    
}




@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {
    .block_wr{
        background-color: $block_bg;
    box-shadow: 0 0 10px $box_shadow;
    border-radius: 10px;
    }
    .block_rooms{
        flex-wrap:wrap;
        &_text_content{
            font-size: 22px;
            width: 100%;
            padding-top:5%;
        }
    &_img{
        max-width: 100%;
        }
    }
  }
  .carousel_button{
      width:40%;
  }

@media (max-width: 767.98px) { 
    .block_wr{
        background-color: $block_bg;
    box-shadow: 0 0 10px $box_shadow;
    border-radius: 10px;
    }
    .block_rooms{
        flex-wrap:wrap;
        &_text_content{
            font-size: 22px;
            width: 100%;
            padding-top:5%;
        }
    &_img{
        max-width: 100%;
        }
    }
 }

 .br_prices{
    display: none;
  }


@media (max-width: 575.98px) { 
     .block_wr{
        background-color: $block_bg;
        box-shadow: 0 0 10px $box_shadow;
        border-radius: 10px;
    }
    .block_rooms{
        flex-wrap:wrap;
        margin:0 10%;
        &_text_content{
            font-size: 22px;
            width: 100%;
            padding-top:5%;
        }
    &_img{
        max-width: 100%;
        }
    }
    .block_wr_prices{
     margin-top: 10%;
    }


    .br_prices{
        display: initial;
      }

    .carousel_button{
        height: 30px;
        width:55%;
        margin-top: 1%;
    }

    .changeroom_left{
        margin: 27% 0 0 1%;
        position: absolute;
        width: 30px;
        height: 50px;
    }
    
    .changeroom_right {
        position: absolute;
        margin: 27% 1% 0 91%;
        width: 30px;
        height: 50px;
    }
 }